
$theme-colors: (
  "primary": #4b7399,
  "secondary": #434A5F,
  "dark": #1C2831,
  "danger": #A83B3B,
  "light-cell": #EAE9D2,
  "dark-cell": #4B7399,
  "light-blue": #EFE9F4,
);

@import 'bootstrap/scss/bootstrap';